.info{
    text-align: center;
}
.image{
    text-align: left;
    width: -500px;
padding: 0px;
}

    .active {
        background-color: #0099FF;
      }


      .products{
          text-align: center;
      }